

# Lists in R

## 1. Creating

In [ ]:
namesR=list("Qing", "Françoise", "Raúl", "Bjork","Marie","Jim","Tere","Tina")
agesR=list(32,33,28,30,29,33,34,27)
countryR=list("China", "Senegal", "España", "Norway","Korea","USA","Bolivia","Portugal")
educationR=list("Bach", "Bach", "Master", "PhD","PhD", "Master","Master","PhD")

In [ ]:
typeof(namesR)

In [ ]:
namesR

## 2. Accessing

In [ ]:
# the value in the first location
agesR[[1]]

In [ ]:
typeof(agesR[[1]]) # # the value in the first location is ?

In [ ]:
# the first location
agesR[1]

In [ ]:
typeof(agesR[1]) ## the first location is?

### Slices

In [ ]:
# consecutive
# agesR[[2:4]] # will not work
agesR[2:4]

In [ ]:
# non consecutive with step or pattern
agesR[seq(2,8,2)]

In [ ]:
# non consecutive without step or pattern
agesR[c(1,3,4)]

## Replacing

### by Position

In [ ]:

countryR[[3]]="Spain"

# list changed:
countryR

Several positions?

In [ ]:
# check
##countryR=list("China", "Senegal", "España", "Norway","Korea","USA","Bolivia","Portugal")
countryR[c(3,6)]=list("Spain Kingdom","US_America")
countryR

### By Value

In [ ]:
countryR[countryR=='China']="PR China"
countryR

## Deleting

### By Position

In [ ]:
countryR[1]=NULL
countryR

In [ ]:
# several positions

listR=list(1,2,3,4,5,6)
listR[2:4]=NULL

#now:
listR

In [ ]:
# non consecutive

listR=list(11,22,33,44,55,66)
listR[c(2,4,6)]=NULL
listR

### by Value

In [ ]:

# by value
listR=list(1,'a',45,'b','a')
listR=listR[!listR %in% list('a')]
listR

## Inserting values

In [ ]:
# at the end
listR=list(1,'a',45,'b','a')
listR=append(listR,'cde')
listR

In [ ]:
# specific position

listR=list(1,'a',45,'b','a')
listR=append(listR,'cde',after=2)
listR

## Concatenating

In [ ]:
listA_R=list(1,2,3)
listB_R=list('a', 'b', 'c')
append(listA_R, listB_R)

In [ ]:
#notice

append(listA_R, list(listB_R))