

# DATA FRAMES in R

## 1. Creating

In [ ]:
# columns as vectors
namesR=c("Qing", "Françoise", "Raúl", "Bjork","Marie")
agesR=c(32,33,28,30,29)
countryR=c("China", "Senegal", "España", "Norway","Korea")
educationR=c("Bach", "Bach", "Master", "PhD","PhD")

# a 'named' list of vectors
classroomR=list(student=namesR,age=agesR,edu=educationR,country=countryR)

# from list to dataframe
studentsR=data.frame(classroomR)

# here you are
studentsR

## 2. Accessing

Here you want to SEE:

In [ ]:
# the whole first column
studentsR[,1] # "" means 'all' (here rows).

In [ ]:
# the  column 'student'
studentsR$student # one column in R (use $)

In [ ]:
# the  column 'student'
studentsR[,'student'] # using []

In [ ]:
# more than one column  using indices in a vector
studentsR[,c(2,3)]

In [ ]:
# more than one column  using column names in a vector
studentsR[,c('student','edu')]

In [ ]:
studentsR[3,'student'] # you would get a cell value

In [ ]:
studentsR[c(3,5),c('student','edu')]

## 3. Replacing

In [ ]:
# one value
studentsR[3,'student']='Lito'
studentsR

In [ ]:
# more than one value
studentsR[c(3,5),'age']=c(32,31)
studentsR

## 4. Deleting

In [ ]:
# make copy - to delete elements
studentsR_new=studentsR

### Deleting rows

In [ ]:
byeRows=c(3,4)

studentsR_new=studentsR_new[-byeRows,] # rewriting

#then
studentsR_new

As you see, the indexes dissapeared. Then, you should reset the indexes:

In [ ]:
#reset indexes
row.names(studentsR_new)=NULL

#then
studentsR_new

### Deleting columns

In [ ]:
# This is what you want to get rid of:
byeColumns=c('edu')

#### this doesn't work:
# studentsR_new[,-byeColumns]

# alternative : keep instead of drop
keepCols=setdiff(names(studentsR_new),byeColumns)

studentsR_new=studentsR_new[,keepCols]

#then
studentsR_new

### Deleting cells

In [ ]:
studentsR_new[3,'country']=NA

#then
studentsR_new

## Inserting

### Inserting Columns:

In [ ]:
femaleR=c(T,T,F,F,T)
studentsR1=cbind(studentsR,female=femaleR)
# studentsR1$female=femaleR
# studentsR1[,'female']=femaleR
studentsR1

### Inserting Rows:

In [ ]:
studentsR

In [ ]:
newStudent=list('Bob',33,'Bach','Peru',FALSE)
studentsR1=rbind(studentsR,newStudent)

# notice FALSE is dropped
studentsR1

In [ ]:
newStudent=c('Bob',33,'Bach','Peru',FALSE)
studentsR1=rbind(studentsR,newStudent)

# notice coercion
studentsR1

## Other basic operations

In [ ]:
summary(studentsR)

In [ ]:
summary(studentsR1)

In [ ]:
class(studentsR)

In [ ]:
# details of data frame
str(studentsR)

In [ ]:
# number of rows and columns

dim(studentsR)

In [ ]:
# number of rows:

length(studentsR)

In [ ]:
# first rows
head(studentsR,2) # compare with: tail(studentsR,2)

In [ ]:
# names of variables
names(studentsR)

In [ ]:
# names in rows
rownames(studentsR)

# Check some basic operations

In [ ]:
x <- factor(c("M", "F", "M", "F"))

In [ ]:
x

In [ ]:
str(x) #gives you?

In [ ]:
typeof(x) #gives you?

In [ ]:
class(x) #gives you?